<%= form_with(model: @patient, class: 'max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg') do |form| %>
  <h2 class="text-3xl font-semibold text-gray-800 mb-6">Patient Information</h2>

  <div class="mb-4">
    <%= form.label :name, class: 'block text-lg font-medium text-gray-700' %>
    <%= form.text_field :name, class: 'mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500' %>
  </div>

  <div class="mb-6">
    <%= form.submit 'Save Patient', class: 'w-full py-3 px-4 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200' %>
  </div>
<% end %>
